/*** CSS RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.center {
 	display:block ;
 	margin-left:auto ;
  	margin-right:auto ;
}

.spaced-top-bottom {
		margin: 25px auto;
}



#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#galleryWrapper {
  background-color: #000;
}

.circle h1 {
	color: #555;
	font-family: 'Quicksand', helvetica, tahoma, arial, sans-serif;	
	font-size: 200%;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

#about {
	background: #fff; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	position: relative;
	margin-left: 25px;
	margin-right: 25px;
}

#contact {
	background: #fff; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 400px;
	position: relative;
	margin-left: 25px;
	margin-right: 25px;
}

#aboutTitle {
	color: #222222;
	margin-top: 8%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	font-size: 62px;
}

#aboutTitle strong {
	font-weight: bold;
	color: #81CFE0;//reddish#D64541;
}

#aboutDesc {
	color: #111111;
	margin-top: 5%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 100;
	font-size: 30px;
}

#aboutWrapper {
	/* Vertical centering */
	display: table-cell;
    vertical-align: middle;
}

#gallery {
	background-color: #000;
	position: relative;
  	margin-left: 18.5%;
  	margin-right: 20%;
  	padding: 0;
  	list-style: none;
}

#video {
	background-color: #000;
	position: relative;
  	margin-left: 5%;
  	margin-right: 5%;
  	padding: 0;
  	list-style: none;
}

#contactIcons {
	display: table-cell;
    vertical-align: middle;
}


/**  MOBILE LAYOUT  (portrait and landscape) **/
@media only screen and (min-width : 320px) {

	.icon {
		max-width: 25%;
	}
	
	.firstIcon {
		max-width: 25%;
		margin-top: 45%;
	}

	.clear-it {
		clear: both;
	}
	
	.center-text {
		text-align: center;
	}

	header {
		display: none;
	}
	
	footer {
	  margin-top: 55px;
	}
	
	
	#home {
			background: url(../img/mountain.jpg) no-repeat 80% 70%; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height: 600px;
			position: relative;
		}
		
	#about {
		height: 800px;
	}
		
	.circle {
			background-color: #fff;
			border-radius: 100%;
			height: 300px;
			margin: -150px 0 0 -150px;
			opacity: 0.5;
			  filter: alpha(opacity=50);  /* IE8 and lower */
			  zoom: 1;  /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */
			position: absolute;
			  top: 50%;
			  left: 50%;
			width: 300px;  /* A circle too big will push it and its text off of the home page. */
			font-size: 12px;
	}	
	
	.circle-text {
		color: #333;
		font-family: 'nevis', helvetica, tahoma, arial, sans-serif;
		line-height: 150%;
		padding-top: 75px;
	}
	
	img {
		max-width: 100%;  /* This rule will make all images x percent as wide as their parents. */
	}
	
	.clear-it img{
		//display: none;
	}
	
	.page {
		height: auto;
		padding-top: 1px; /*  This is to prevent */
		margin-top: -1px; /*  margin collapsing  */
		max-width: 100%;
	}

	.content-container {
		background: #fff;
		padding-top: 1px; /*  This is to prevent */
		margin-top: -1px; /*  margin collapsing  */
		width: 100%;
	}
	
	.videoContent-container {
		background: #000;
		padding-top: 1px; /*  This is to prevent */
		margin-top: -1px; /*  margin collapsing  */
		width: 100%;
	}

}


@media only screen and (min-width : 868px) {	
	
	#about {
		height: 680px;
	}
	
	.icon {
		max-width: 10%;
	}
	
	.firstIcon {
		max-width: 10%;
		margin-top: 23%;
	}
	
	.circle {
			margin: -200px 0 0 -200px;
			height: 400px;
			width: 400px;  /* A circle too big will push it and its text off of the home page. */	
			font-size: 15px;
		}
		
	.circle-text {
			padding-top: 125px;
	}
	
	.shadow {
			-moz-box-shadow: 0 2px 3px #efefef;
			-webkit-box-shadow: 0 2px 3px #efefef;
			box-shadow: 0 2px 3px #efefef;
		}
		
	
}


/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
}



#wrapper {
	
	/* For Centering */
  /*max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}



/**********************************
HEADING
***********************************/
/*
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
*/

#logo {
	float: left;
	max-width: 30%;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

.shadow {
	-moz-box-shadow: 0 2px 3px #efefef;
	-webkit-box-shadow: 0 2px 3px #efefef;
	box-shadow: 0 2px 3px #efefef;
}

/*
nav {
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}
*/
nav {
	display: inline-block;
	float: right;
	font-size: 82%; /* 13px/16px = 82% */
	line-height: 50px;
	text-align: right;
	width: 70%;
}

nav li {
	display: inline;
	padding: 0;
	width: 30%;
}

nav ul li a {
	color: #555;
    font-weight: 800;
    padding: 15px 10px;
	border-bottom-style: solid;
	border-bottom-width: medium;
	border-bottom-color: white;
	/*text-decoration: none;
	text-transform: uppercase;*/
}

nav ul li a:hover {
	border-bottom-color: #336E7B;
}
	
	



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 10px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/**  DESKTOP LAYOUT **/
@media only screen and (min-width : 1280px) {
/**********************************
PAGE: HOME
***********************************/

	header {
		background-color: #fff;
		display: block;
		font-family: 'Raleway', helvetica, tahoma, arial, sans-serif;	
		position: fixed;
		  top: 0;
		  left: 0;
		height: 50px;
		width: 100%;
		z-index: 1;
	}

.icon {
	max-width: 5%;
}

.firstIcon {
	max-width: 5%;
	margin-top: 15%;
}

footer {
  margin-top: 0px;
}

.circle h1 {
		color: #555;
		font-family: 'Quicksand', helvetica, tahoma, arial, sans-serif;	
		font-size: 200%;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

#home {
	margin-top: 50px; /* Adjusted for the fixed top nav. */
}

#home {
	background: url(../img/mountain.jpg) no-repeat 80% 40%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 650px;
	position: relative;
}

#home-text {
	float: left;
	color: #fff; /* Text colour */
    font-family: 'Quicksand', sans-serif;
	margin-top:180px;
	margin-left:25px;
    font-size: 1.75em;
    font-weight: normal;
}

#home-image {
	float: right;
	background: #3A6F9A;
	vertical-align: middle;
	/*max-height: 25px;
	max-width: 160px;*/
}

.clear-it img{
	display: inline-block;
	float: right;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	margin-top:150px;
	margin-right:25px;
	vertical-align: middle;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

#galleryWrapper {
  background-color: #000;
}

#gallery {
  background-color: #000;
  margin-left: 8.5%;
  margin-right: 10%;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 23%;
  margin: 5.167%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}

.page {
	height: auto;
	padding-top: 1px; /*  This is to prevent */
	margin-top: -1px; /*  margin collapsing  */
	max-width: 100%;
}


/**********************************
PAGE: ABOUT
***********************************/

#about {
	height: 600px;
}



/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  //background: #6ab47b;
  background: #fff;
}

/* nav background on mobile */
nav {
  /*background: #599a68;*/
}

/* logo text */
h1, h2 {
  //color: #888;
  color: #81CFE0;;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #888;
}

/* selected nav link */
nav a.selected, nav a:hover {
  //color: #000;
  color: #81CFE0;
}


/**********************************
FONTS
***********************************/









