/*** CSS RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
	
	/* For Centering */
  /*max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}



/**********************************
HEADING
***********************************/
/*
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
*/
header {
	background-color: #fff;
	display: block;
	font-family: 'nevis', helvetica, tahoma, arial, sans-serif;	
	position: fixed;
	  top: 0;
	  left: 0;
	height: 50px;
	width: 100%;
	z-index: 1;
}
#logo {
	float: left;
	width: 30%;
}

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/**********************************
NAVIGATION
***********************************/

.shadow {
	-moz-box-shadow: 0 2px 3px #efefef;
	-webkit-box-shadow: 0 2px 3px #efefef;
	box-shadow: 0 2px 3px #efefef;
}

/*
nav {
	float: right;
  text-align: right;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}
*/
nav {
	display: block;
	float: right;	
	font-size: 82%; /* 13px/16px = 82% */
	line-height: 50px;
	text-align: right;
	width: 70%;
}

nav li {
	display: inline;
	padding: 0;
	width: 100%;
}

nav ul li a {
	color: #555;
    font-weight: 800;
    padding: 15px 10px;
	/*text-decoration: none;
	text-transform: uppercase;*/
}

nav ul li a:hover {
	color: #fff;
	border-bottom-color: #DB7633;
}
	
	



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/**********************************
PAGE: PORTFOLIO
***********************************/

#home {
	margin-top: 50px; /* Adjusted for the fixed top nav. */
}

#home {
	background: url(/img/ff.jpg) no-repeat 80% 40%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 650px;
	position: relative;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 23%;
  margin: 5.167%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}

.page {
	height: auto;
	padding-top: 1px; /*  This is to prevent */
	margin-top: -1px; /*  margin collapsing  */
	max-width: 100%;
}


/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* green header */
header {
  background: #6ab47b;
  //background: #6ab47b;
}

/* nav background on mobile */
nav {
  /*background: #599a68;*/
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f;
}














